{%  include 'Resources/base.html.twig' %}

{% block body %}

    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper">
                <div class="content">
                    <form name="form" method="post" >
                        <div class="panel login-container ">

                            <div class="text-center" >
                                <h5 class="content-group pt-20">Вход в систему</h5>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="login" name="username" class="form-control" placeholder="E-mail" required>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" name="password" class="form-control" placeholder="Пароль" required>
                            </div>

                            <input type="hidden" name="act" value="login"/>
                            <div class="form-group">
                                <button type="submit" id="login_btn" class="btn bg-blue btn-block">Войти</button>
                            </div>
                            <h1> </h1>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
