{% for comment in comments %}
    <article class="comment  {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <div class="row">
            <div class="col-auto">
                <img src="assets/images/comment_image/{{ comment.image }}" width="120" height="120">
            </div>
            <div class="col-auto">
                <header>
                    <p><span class="name">{{ comment.name }} </span>
                        <span class="email"> {{ comment.email }}</span>
                        commented
                        <time datetime="{{ comment.created|date('c') }}">{{ comment.created|date('l, F j, Y') }}</time>
                    </p>
                </header>
                <p>{{ comment.message }}</p>
            </div>
        </div>
    </article>
{% else %}
    <p>There are no comments for this post. Be the first to comment...</p>
{% endfor %}