{%  include 'Resources/base.html.twig' %}

{% block body %}
    <section class="comments" id="comments">
        <section class="previous-comments">
            <h2>Comments</h2>
                <div class="row pl-10">
                    <div class="col-auto ">
                        <h5> сортировать</h5>
                    </div>
                    <div class="col-auto text-blue">
                        <a href="sortByDate">по дате</a>
                    </div>
                    <div class="col-auto text-blue">
                        <a href="sortByName"> по имени</a>
                    </div>
                    <div class="col-auto text-blue">
                        <a href="sortByEmail">по email</a>
                    </div>
                </div>
            {% include 'Resources/comment.html.twig' with { 'comments': comments } %}
        </section>
    </section>
    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper">
                <div class="content">
                    <form name="form" method="post">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><input type="text" id="message_name" name="message[name]" required="required" placeholder="Имя" class="form-control" /></div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div><input type="email" id="message_email" name="message[email]" required="required" placeholder="E-mail" class="form-control" /></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <div>
                                    <div><textarea id="contact_message" name="contact[message]" required="required" placeholder="Введите сообщение" class="form-control" rows="5" id="comment" data-parsley-required="true"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="file" multiple="multiple" accept=".png">
                                    <div class="ajax-reply"></div>
                                </div>
                            </div>
                        </div>
                        <div id="messageShow"></div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <br>
                                        <div class="text-right">
                                            <button class="upload_files btn btn-primary legitRipple"  name="message" id="add_message">
                                                Отправить
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
