.h1{
    background-color: red;
}
.test{
    background: aqua;
   padding: auto;
}

.page-container {
    padding: 20px 20px 60px;
}

.login-container {
    position: center;
    padding: 20px;
    width: 320px;
}

.comments { clear: both; }
.comments .name {color:#F48A00;}
.comments .email {text-decoration: underline}
.comments .odd { background: #eee; }
.comments .comment { padding: 20px; }
.comments .comment p { margin-bottom: 0; }
.comments h3 { background: #eee; padding: 10px; font-size: 20px; margin-bottom: 20px; clear: both; }
.comments .previous-comments { margin-bottom: 20px; }
